name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
# terraform:
#
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - name: Terraform fmt
        run: terraform -chdir=Terraform fmt -check -recursive
      - name: Terraform init (no backend)
        run: terraform -chdir=Terraform init -backend=false
      - name: Terraform validate
        run: terraform -chdir=Terraform validate -no-color

  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker
        run: docker build -t cloud-devops-app:ci ./Docker/App

  kube-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'
      - name: Validate Kubernetes Manifests (client dry-run)
        run: |
          kubectl apply --dry-run=client -f Kubernetes/namespace.yaml
          kubectl apply --dry-run=client -f Kubernetes/deployment.yaml
          kubectl apply --dry-run=client -f Kubernetes/service.yaml
